* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff7171;
  width: 100vw;
  padding: 10px 0px;
  flex-wrap: wrap;
}
.nav-link {
  color: black;
  font-weight: bold;
  margin: 2px 6px;
}

.section-1 {
  display: flex;
  width: 100%;
}
.description {
  background-image: linear-gradient(to right, #fff7ad, #ffd0d3);
  width: 50%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
  font-size: 36px;
}
.click-button {
  background-color: #ff7171;
  border: none;
  color: #ffffff;
  padding: 10px 30px;
}
.description-image {
  width: 50%;
}

.section-2 {
  margin-top: 5px;
  width: 100vw;
  background-image: linear-gradient(to right bottom, #fff7ad, #ffa9f9);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0px;
}
.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-wrap: wrap;
  order: 0;
  width: 50%;
}
.image-1 {
  height: 240px;
  width: 45%;
  margin: 5px;
  order: 0;
}
.image-2 {
  height: 500px;
  width: 45%;
  margin: 5px;
  order: 1;
}
.image-3 {
  height: 240px;
  width: 45%;
  margin: 5px;
  order: 0;
}
.section-2-description {
  background-color: #ff7171;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding: 2px;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .description {
    width: 100%;
    height: 400px;
    font-size: 20px;
  }
  .description-image {
    height: 500px;
    width: 100%;
  }
  .images-container {
    width: 100%;
  }
  .section-2-description {
    font-size: 22px;
  }
}
