* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff7171;
  height: 40px;
}
.nav-link {
  color: black;
  font-weight: bold;
}
.section-1 {
  display: flex;
  width: 100%;
  height: 85vh;
}
.description {
  background-image: linear-gradient(to right, #fff7ad, #ffd0d3);
  width: 50%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 20px;
}
.click-button {
  background-color: #ff7171;
  border: none;
  color: #ffffff;
  padding: 10px 30px;
}
.description-image {
  width: 50%;
  height: 100%;
}

.section-2 {
  margin-top: 5px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #fff7ad, #ffa9f9);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  height: 500px;
  flex-wrap: wrap;
}
.image-1 {
  height: 240px;
  width: 250px;
  margin: 5px;
  order: 1;
}
.image-2 {
  height: 500px;
  width: 250px;
  margin: 5px;
  order: 2;
}
.image-3 {
  height: 240px;
  width: 250px;
  margin: 5px;
  order: 1;
}
.section-2-description {
  background-color: #ff7171;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: 400px;
  padding: 50px;
}
